.options-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 18px;
    border: 1px solid rebeccapurple;
    background-color: white;
    border-radius: 15px;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 1.5rem;
}

.hud-main-text {
  text-align: center;
}

.option-letter {
  padding: 1.5rem 2.5rem;
  background-color: thistle;
  border-radius: 15px 0 0 15px;

}

.option-text {
    padding: 1.5rem;
    width: 100%;
}

.options-container:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 0 thistle;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }

  .correct {
    /* background-color: green; */
    box-shadow: 0px 5px 10px 0px green;
  }

  .correct:hover {
    box-shadow: 0px 5px 10px 0px green;
  }

  .incorrect {
    /* background-color: red; */
    box-shadow: 0px 5px 10px 0px red;
  }

  .incorrect:hover {
    box-shadow: 0px 5px 10px 0px red;
  }

